.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red;  */
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* border: 2px solid red;  */
    margin: auto;
}

li {
    text-decoration: none;
    list-style: none;
}

img {
    width: 500px;
    height: 700px;
    margin: 5px;
    /* border: 2px solid red; */
}