.home {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.home h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

.image-container {
    width: 100vh;
    height: 75vh;
    display: flex;
    justify-content: center;
}

.home-images {
    width: 500px;
    height: 100%;
}

.home-btn {
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	border: none;
	font-size: large;
    margin: 0px 250px;
    font-size: 48px;
}

.home-btn-1:hover {
	color: grey; 
}

.home-btn-1:active {
	color: lightslategray;
}

.home-btn-2:hover {
	color: grey; 
}

.home-btn-2:active {
	color: lightslategray;
}
